Repository MattCost/ccc-coordinator-webapp: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

pipelines/build-deploy-api.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/API
  - task: AzureWebApp@1
    inputs:
  ...

pipelines/build-deploy-website.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/website
  - task: AzureWebApp@1
    inputs:
  ...

website overhaul
  src/Common/ViewModels/RideEventViewModel.cs
  src/website/Pages/Events/Create.cshtml
  src/website/Pages/Events/Create.cshtml.cs
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
  src/website/Pages/Events/Edit.cshtml
  src/website/Pages/Events/Edit.cshtml.cs
  src/website/Pages/Events/Index.cshtml
  src/website/Pages/Events/Index.cshtml.cs
  src/website/Pages/Hello/Index.cshtml.cs
  src/website/Pages/Index.cshtml
  src/website/Pages/RideEvents/Details.cshtml
  src/website/Pages/RideEvents/Details.cshtml.cs
  src/website/Pages/RideEvents/Edit.cshtml
  src/website/Pages/RideEvents/Edit.cshtml.cs
  src/website/Pages/RideEvents/Index.cshtml.cs
  src/website/Pages/RideEvents/ListView.cshtml
  src/website/Pages/Shared/_Layout.cshtml
  src/website/Startup.cs
  src/website/wwwroot/js/ajax-data.js
  src/website/wwwroot/lib/datetimepicker/jquery.datetimepicker.full.min.js
  src/website/wwwroot/lib/datetimepicker/jquery.datetimepicker.min.css
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Delete Rides from Event
  src/website/Pages/Events/Edit.cshtml
  src/website/Pages/Events/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

Add Update Route Method
  src/API/Controllers/GroupRidesController.cs
Due: pipelines/build-deploy-api.yaml

Edit page works
  src/website/Pages/Events/Edit.cshtml
  src/website/Pages/Events/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

Rides appear in order by type
  src/API/Controllers/ViewModelsController.cs
Due: pipelines/build-deploy-api.yaml

add input validation
  src/API/Controllers/GroupRidesController.cs
Due: pipelines/build-deploy-api.yaml

Force Delete
  src/API/Controllers/RideEventsController.cs
Due: pipelines/build-deploy-api.yaml

Add Force Delete
  src/Common/Services/EntityProvider/IEntityProvider.cs
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

More web updates
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/BikeRoutes/Index.cshtml.cs
  src/website/Pages/Events/Create.cshtml
  src/website/Pages/Events/Create.cshtml.cs
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Edit.cshtml
  src/website/Pages/Events/Edit.cshtml.cs
  src/website/Pages/Events/Index.cshtml
  src/website/Pages/Index.cshtml
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-website.yaml

Prototype for Multi signup
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
Due: pipelines/build-deploy-website.yaml

Spreadsheet like editing is here
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
Due: pipelines/build-deploy-website.yaml

minor refactor
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
  src/Common/Entities/SignupEntry.cs
  src/website/Pages/Events/Details.cshtml.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

splash of color
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
Due: pipelines/build-deploy-website.yaml

layout update, added tooltip
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/CoordinatorSignupWidget.cshtml
  src/website/wwwroot/css/site.css
Due: pipelines/build-deploy-website.yaml

Fix order of session
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

edit updates in progress
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

edit works again
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

Add DeleteCues endpoint
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

correct callback urls
  infrastructure/app-reg.tf
Due: none

additional launch option
  .vscode/launch.json
Due: none

change app service plan to b1
  infrastructure/app-service.tf
Due: none

Remove unneeded body
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

Add ice cream operation
  src/Common/Enums/CueOperation.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

can we use emoji?
  src/Common/Enums/CueOperation.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

swap notes and mm
  src/website/Pages/BikeRoutes/Details.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueSheetTableRow.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueTablePrintView.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueTableView.cshtml
Due: pipelines/build-deploy-website.yaml

add notes to printout
  src/website/Pages/Shared/DisplayTemplates/EventPrintCueSheets.cshtml
Due: pipelines/build-deploy-website.yaml

adding alpha icon
  src/Common/Enums/CueOperation.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

simplify cue to match legacy data
  src/Common/Entities/CueEntry.cs
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/BikeRouteDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueSheetRow.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueSheetRowForEdit.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueSheetTableRow.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueTablePrintView.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueTableView.cshtml
  src/website/Pages/Shared/DisplayTemplates/EventPrintCueSheets.cshtml
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

match new datamodel
  src/website/Pages/BikeRoutes/Edit.cshtml
Due: pipelines/build-deploy-website.yaml

Missed 1 rename on prev cmt
  src/website/Pages/BikeRoutes/Edit.cshtml
Due: pipelines/build-deploy-website.yaml

Get correct property
  src/website/Pages/BikeRoutes/Edit.cshtml
Due: pipelines/build-deploy-website.yaml

MASSUP
  src/Common/Enums/CueOperation.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Adding support personnel to rideEvent
  src/API/Controllers/RideEventsController.cs
  src/Common/Entities/CoordinatorRole.cs
  src/Common/Entities/RideEvent.cs
  src/Common/Entities/RideEventCreateModel.cs
  src/Common/Entities/RideEventUpdateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

enum overhaul and signupEntry changes
  src/API/Controllers/RideEventsController.cs
  src/Common/Entities/SignupEntry.cs
  src/Common/Enums/EntityTypes.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Fix Entity Type
  src/API/Controllers/RideEventsController.cs
  src/website/Pages/Events/Details.cshtml
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

return support coord ids as well
  src/API/Controllers/ViewModelsController.cs
Due: pipelines/build-deploy-api.yaml

Missed 1 enum reference
  src/API/Controllers/RideEventsController.cs
Due: pipelines/build-deploy-api.yaml

signup for support works
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/CoordinatorSignupWidget.cshtml
  src/website/Pages/Shared/DisplayTemplates/SupportSignupWidget.cshtml
  src/website/wwwroot/js/site.js
Due: pipelines/build-deploy-website.yaml

on par with spreadsheet!
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/EventPrintRoleList copy.cshtml
  src/website/Pages/Shared/DisplayTemplates/EventPrintRoleList.cshtml
Due: pipelines/build-deploy-website.yaml

adding event type to api
  src/API/Controllers/RideEventsController.cs
  src/Common/Entities/GroupRide.cs
  src/Common/Entities/RideEvent.cs
  src/Common/Entities/RideEventCreateModel.cs
  src/Common/Entities/RideEventUpdateModel.cs
  src/Common/Entities/RideType.cs
  src/Common/Enums/CueOperation.cs
  src/Common/Enums/EventTypes.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Path conditions:
  pipelines/build-deploy-api.yaml: any of: pipelines/build-deploy-api.yaml, src/API, src/Common
  pipelines/build-deploy-website.yaml: any of: pipelines/build-deploy-website.yaml, src/website, src/Common
