Repository MattCost/ccc-coordinator-webapp: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

pipelines/build-deploy-api.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/API
  - task: AzureWebApp@1
    inputs:
  ...

pipelines/build-deploy-website.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/website
  - task: AzureWebApp@1
    inputs:
  ...

Fix build
  src/Common/Entities/RideEvent.cs
  src/Common/Entities/RideEventCreateModel.cs
  src/Common/Entities/RideEventUpdateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

adding event type
  src/Common/Enums/EventTypes.cs
  src/website/Pages/Events/Create.cshtml
  src/website/Pages/Events/Edit.cshtml
  src/website/Pages/Index.cshtml
  src/website/wwwroot/css/site.css
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

adding custom domain
  infrastructure/app-reg.tf
Due: none

adding links to bike routes
  src/Common/Entities/BikeRouteCreateModel.cs
  src/Common/Entities/BikeRouteModel.cs
  src/Common/Entities/BikeRouteUpdateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

using the links
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

create / edit the links
  src/website/Pages/BikeRoutes/Create.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

show the embed
  src/website/Pages/BikeRoutes/Details.cshtml
Due: pipelines/build-deploy-website.yaml

submit values
  src/website/Pages/BikeRoutes/Edit.cshtml
Due: pipelines/build-deploy-website.yaml

adjust log levels
  src/website/appsettings.json
Due: pipelines/build-deploy-website.yaml

don't set read only properties
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

display cleanup
  src/website/Pages/BikeRoutes/Details.cshtml
Due: pipelines/build-deploy-website.yaml

add properties to view model
  src/Common/ViewModels/BikeRouteViewModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Link changes
  src/API/Controllers/BikeRoutesController.cs
  src/Common/Entities/BikeRouteCreateModel.cs
  src/Common/Entities/BikeRouteModel.cs
  src/Common/Entities/BikeRouteUpdateModel.cs
  src/Common/ViewModels/BikeRouteViewModel.cs
  src/website/Pages/BikeRoutes/Create.cshtml
  src/website/Pages/BikeRoutes/Details.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Fix edit page
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

fix null ref
  src/website/Pages/Events/Details.cshtml
Due: pipelines/build-deploy-website.yaml

close out link
  src/website/Pages/BikeRoutes/Details.cshtml
Due: pipelines/build-deploy-website.yaml

tiny speed up
  src/website/Pages/Events/Details.cshtml.cs
Due: pipelines/build-deploy-website.yaml

add links to external maps
  src/website/Pages/Shared/DisplayTemplates/BikeRouteLink.cshtml
Due: pipelines/build-deploy-website.yaml

add Signout
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-website.yaml

Bulk Cue edit for admins
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

fix event type
  src/website/Pages/Events/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

ignore empty strings?
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

make params optional
  src/Common/Entities/BikeRouteCreateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

format
  src/Common/Entities/BikeRouteCreateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

really make optional
  src/API/Controllers/BikeRoutesController.cs
  src/Common/Entities/BikeRouteCreateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Exposing support options to webapp
  src/website/Pages/Events/Create.cshtml
  src/website/Pages/Events/Details.cshtml.cs
  src/website/Pages/Events/Edit.cshtml
  src/website/Pages/Events/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

larger icon
  src/website/Pages/Events/Index.cshtml
Due: pipelines/build-deploy-website.yaml

tap row for link
  src/website/Pages/Events/Index.cshtml
Due: pipelines/build-deploy-website.yaml

better mobile formatting
  src/website/Pages/Events/Index.cshtml
Due: pipelines/build-deploy-website.yaml

Adding Unavailability to app
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
  src/API/Controllers/ViewModelsController.cs
  src/Common/Entities/RideEvent.cs
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/UnavailableSignupWidget.cshtml
  src/website/wwwroot/js/site.js
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

link improvements
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/Shared/DisplayTemplates/BikeRouteLink.cshtml
Due: pipelines/build-deploy-website.yaml

Update Readme
  README.md
Due: none

Adding slacker box
  src/API/Controllers/ViewModelsController.cs
  src/Common/Entities/RideEvent.cs
  src/Common/ViewModels/RideEventViewModel.cs
  src/website/Pages/Events/Details.cshtml
  src/website/Pages/Events/Details.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/SupportSignupWidget.cshtml
  src/website/Pages/Users/Index.cshtml.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

unlock TF version
  infrastructure/main.tf
Due: none

update app service version
  infrastructure/app-service.tf
Due: none

use dotnet 8.0
  src/API/API.csproj
  src/Common/Common.csproj
  src/website/website.csproj
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add route sorting
  src/Common/Entities/BikeRouteModel.cs
  src/website/Pages/Events/Edit.cshtml.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

dotnet updated
  .vscode/launch.json
Due: none

shows how many rides use a route
  src/API/Controllers/BikeRoutesController.cs
  src/Common/Services/EntityProvider/IEntityProvider.cs
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
  src/website/Pages/BikeRoutes/Details.cshtml
  src/website/Pages/BikeRoutes/Details.cshtml.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Making Grillmaster non-exclusive
  src/website/Pages/Shared/DisplayTemplates/SupportSignupWidget.cshtml
Due: pipelines/build-deploy-website.yaml

Path conditions:
  pipelines/build-deploy-api.yaml: any of: pipelines/build-deploy-api.yaml, src/API, src/Common
  pipelines/build-deploy-website.yaml: any of: pipelines/build-deploy-website.yaml, src/website, src/Common
