Repository MattCost/ccc-coordinator-webapp: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

pipelines/build-deploy-api.yaml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/build-deploy-api.yaml
      - src/API
      - src/Common

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'
  workingDirectory: src/API

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: 'src/API'
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'azure-sc'
    appType: 'webAppLinux'
    appName: 'app-ccc-webapp-api-dev'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'

pipelines/build-deploy-website.yaml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/build-deploy-website.yaml
      - src/website
      - src/Common

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'
  workingDirectory: src/API

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: 'src/website'
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'azure-sc'
    appType: 'webAppLinux'
    appName: 'app-ccc-webapp-website-dev'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'

site updates
  src/Common/Authorization/ClaimsPrincipalExtensions.cs
  src/Common/Authorization/Enums.cs
  src/Common/Services/UserProvider/GraphAPIUserProvider.cs
  src/website/Pages/EventDetails.cshtml
  src/website/Pages/EventDetails.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/CueTablePrintView.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueTableView.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
  src/website/wwwroot/css/site.css
  src/website/wwwroot/js/site.js
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add dropout function
  src/website/Pages/EventDetails.cshtml
  src/website/Pages/EventDetails.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
  src/website/wwwroot/js/site.js
Due: pipelines/build-deploy-website.yaml

improved mobile view?
  src/website/Pages/Shared/DisplayTemplates/BikeRouteLink.cshtml
  src/website/Pages/Shared/DisplayTemplates/CoordinatorSignupWidget.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
Due: pipelines/build-deploy-website.yaml

only show widget to coordinators
  src/Common/Authorization/ClaimsPrincipalExtensions.cs
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

readme update
  README.md
Due: none

ugly page but seamless refresh. should use vue/react
  src/website/Pages/EventDetails.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
Due: pipelines/build-deploy-website.yaml

print preview is smaller
  src/Common/Entities/CueEntry.cs
  src/Common/Enums/CueOperation.cs
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueTablePrintView.cshtml
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

print preview functionality
  src/website/Pages/Shared/DisplayTemplates/CueTablePrintView.cshtml
  src/website/Pages/Shared/DisplayTemplates/EventPrintCueSheets.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
  src/website/wwwroot/css/site.css
  src/website/wwwroot/js/site.js
Due: pipelines/build-deploy-website.yaml

limit coordinator to 1 ride
  src/website/Pages/EventDetails.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/CoordinatorSignupWidget.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
Due: pipelines/build-deploy-website.yaml

better visual
  src/website/Pages/Shared/DisplayTemplates/CoordinatorSignupWidget.cshtml
Due: pipelines/build-deploy-website.yaml

add display names to view model
  src/API/Controllers/ViewModelsController.cs
  src/Common/ViewModels/RideEventViewModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

show display name
  src/website/Pages/EventDetails.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/CoordinatorSignupWidget.cshtml
  src/website/Pages/Shared/DisplayTemplates/EventPrintRoleList.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
  src/website/Pages/Shared/DisplayTemplates/UserId.cshtml
Due: pipelines/build-deploy-website.yaml

hiding crud, and route table
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/Shared/_Layout.cshtml
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

table updates
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/BikeRoutes/Index.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/BikeRouteDetails.cshtml
  src/website/wwwroot/css/site.css
  src/website/wwwroot/js/ajax-data.js
  src/website/wwwroot/js/site.js
Due: pipelines/build-deploy-website.yaml

debug
  .vscode/launch.json
Due: none

1 table with ajax load
  src/website/Pages/BikeRoutes/Index.cshtml
Due: pipelines/build-deploy-website.yaml

add todo
  src/Common/Authorization/Enums.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

adding favorites
  src/Common/Services/EntityProvider/IEntityProvider.cs
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

exposing favorites
  src/API/Controllers/FavoritesController.cs
Due: pipelines/build-deploy-api.yaml

namespace change + get favorites into view model
  src/API/Controllers/BikeRoutesController.cs
  src/API/Controllers/FavoritesController.cs
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
  src/API/Controllers/UsersController.cs
  src/API/Controllers/ViewModelsController.cs
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

the namespace move
  src/Common/Authorization/ClaimsPrincipalExtensions.cs
  src/Common/Authorization/Enums.cs
  src/Common/Services/UserProvider/GraphAPIUserProvider.cs
  src/Common/ViewModels/BikeRouteViewModel.cs
  src/Common/ViewModels/RideEventViewModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

added a table
  infrastructure/storage.tf
Due: none

use the correct client
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add some error checking
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

namespace move + wip
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/EventDetails.cshtml.cs
  src/website/Pages/RideEvents/Details.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/CoordinatorSignupWidget.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
  src/website/Pages/Shared/_Layout.cshtml
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

different token has different claim for userId
  src/Common/Authorization/ClaimsPrincipalExtensions.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

dont forget the quotes kids
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

dynamic favorites
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/BikeRoutes/Index.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/EventPrintCueSheets.cshtml
Due: pipelines/build-deploy-website.yaml

fix null ref
  src/website/Pages/EventDetails.cshtml
Due: pipelines/build-deploy-website.yaml

icon formatting
  src/website/Pages/BikeRoutes/Index.cshtml
Due: pipelines/build-deploy-website.yaml

adding enum for entity type
  src/Common/Enums/EntityTypes.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

clean up interface
  src/Common/Services/EntityProvider/IEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

clean up some magic strings
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add bike route view model endpoint
  src/API/Controllers/ViewModelsController.cs
Due: pipelines/build-deploy-api.yaml

cleanup
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/BikeRoutes/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

first pass at distance filters
  src/website/Pages/BikeRoutes/Index.cshtml
Due: pipelines/build-deploy-website.yaml

dont crash page
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
Due: pipelines/build-deploy-website.yaml

not all favorites will be present in the event
  src/API/Controllers/ViewModelsController.cs
Due: pipelines/build-deploy-api.yaml

new details page
  src/website/Pages/BikeRoutes/Details.cshtml
Due: pipelines/build-deploy-website.yaml

minor cleanup
  src/website/Pages/Index.cshtml
Due: pipelines/build-deploy-website.yaml
