Repository MattCost/ccc-coordinator-webapp: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

pipelines/build-deploy-api.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/API
  - task: AzureWebApp@1
    inputs:
  ...

pipelines/build-deploy-website.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/website
  - task: AzureWebApp@1
    inputs:
  ...

formatting
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-website.yaml

return newly created model
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

Improved Create workflow
  src/website/Pages/BikeRoutes/Create.cshtml
  src/website/Pages/BikeRoutes/Create.cshtml.cs
Due: pipelines/build-deploy-website.yaml

add a space
  src/website/Pages/BikeRoutes/Details.cshtml
Due: pipelines/build-deploy-website.yaml

fix url, not sure how it worked sometimes before
  src/website/Pages/BikeRoutes/Index.cshtml
Due: pipelines/build-deploy-website.yaml

testing new navbar
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-website.yaml

fix route url, again not sure how it worked before
  src/website/wwwroot/js/ajax-data.js
Due: pipelines/build-deploy-website.yaml

cleanup in progress
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/Shared/EditorTemplates/BikeRouteCreateModel.cshtml
Due: pipelines/build-deploy-website.yaml

fix buttons
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-website.yaml

return newly created models
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
Due: pipelines/build-deploy-api.yaml

style ride event create page
  src/website/Pages/RideEvents/Create.cshtml
  src/website/Pages/RideEvents/Create.cshtml.cs
Due: pipelines/build-deploy-website.yaml

style this page?
  src/website/Pages/GroupRides/Create.cshtml
  src/website/Pages/GroupRides/Create.cshtml.cs
Due: pipelines/build-deploy-website.yaml

test
  src/website/Pages/GroupRides/Create.cshtml
Due: pipelines/build-deploy-website.yaml

form labels
  src/website/Pages/GroupRides/Create.cshtml
Due: pipelines/build-deploy-website.yaml

Create Ride page updates
  src/website/Pages/GroupRides/Create.cshtml
  src/website/Pages/GroupRides/Create.cshtml.cs
Due: pipelines/build-deploy-website.yaml

testing layout change
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-website.yaml

default to today
  src/Common/Entities/RideEventCreateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

only coords see role list
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
Due: pipelines/build-deploy-website.yaml

I meant coord
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
Due: pipelines/build-deploy-website.yaml

init user page
  src/website/Pages/Shared/_Layout.cshtml
  src/website/Pages/Users/Index.cshtml
  src/website/Pages/Users/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

Additional Cue endpoints
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

Use String Converter
  src/Common/Entities/CueEntry.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Json String Converter
  src/Common/Enums/CueOperation.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Edit Updates
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

override ModelState due to design decision to not update ModelState if code changes a BindProperty
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

clear model state
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-website.yaml

Form Tweaks
  src/website/Pages/BikeRoutes/Edit.cshtml
Due: pipelines/build-deploy-website.yaml

Link to edit page
  src/website/Pages/BikeRoutes/Details.cshtml
Due: pipelines/build-deploy-website.yaml

edit cleanup
  src/Common/Enums/CueOperation.cs
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Add Temp Data Extensions for future use
  src/website/Models/TempDataExtensions.cs
Due: pipelines/build-deploy-website.yaml

readme updates
  README.md
Due: none

User Mgmt placeholder
  src/website/Pages/Shared/_Layout.cshtml
  src/website/Pages/Users/Index.cshtml
  src/website/Pages/Users/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

user class updates
  src/API/Controllers/UsersController.cs
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

class rename
  src/Common/Entities/Coordinator.cs
  src/Common/Entities/User.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

use new format
  src/Common/Services/UserProvider/GraphAPIUserProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

user admin page test
  src/website/Pages/Users/Index.cshtml
  src/website/Pages/Users/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

add ajax data handler
  src/website/wwwroot/js/ajax-data.js
Due: pipelines/build-deploy-website.yaml

user mgmt
  src/website/Pages/Users/Index.cshtml
  src/website/Pages/Users/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

User Manage almost complete
  src/website/Pages/Users/Index.cshtml
  src/website/Pages/Users/Index.cshtml.cs
  src/website/wwwroot/js/ajax-data.js
Due: pipelines/build-deploy-website.yaml

Return json object
  src/API/Controllers/HelloWorldController.cs
Due: pipelines/build-deploy-api.yaml

Path conditions:
  pipelines/build-deploy-api.yaml: any of: pipelines/build-deploy-api.yaml, src/API, src/Common
  pipelines/build-deploy-website.yaml: any of: pipelines/build-deploy-website.yaml, src/website, src/Common
