Repository MattCost/ccc-coordinator-webapp: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

pipelines/build-deploy-api.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/API
  - task: AzureWebApp@1
    inputs:
  ...

pipelines/build-deploy-website.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/website
  - task: AzureWebApp@1
    inputs:
  ...

add new coordinators controller
  src/API/Controllers/CoordinatorsController.cs
Due: pipelines/build-deploy-api.yaml

formatting
  infrastructure/app-service.tf
Due: none

take 1 - add msgraph
  src/API/API.csproj
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

property change
  src/Common/Entities/Coordinator.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

try get coordinators from msgraph
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add nuget
  src/Common/Common.csproj
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

fix build
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

forgot token cache
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

use newest msgraph
  src/API/API.csproj
  src/Common/Common.csproj
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add coordinator role to application
  src/API/Controllers/CoordinatorsController.cs
  src/API/Startup.cs
  src/Common/Services/EntityProvider/IEntityProvider.cs
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
  src/Common/Services/SecretsManager/UserSecretsSecretManager.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

Azure B2C claims for Coordinator only access
  src/API/Controllers/BikeRoutesController.cs
  src/API/Controllers/CoordinatorsController.cs
  src/API/Controllers/EntityProviderBaseController.cs
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
  src/API/Startup.cs
  src/Common/Authorization/Enums.cs
  src/Common/Entities/Coordinator.cs
  src/Common/Services/EntityProvider/IEntityProvider.cs
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

minor cleanup
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

add notes
  src/Common/Authorization/ClaimsPrincipalExtensions.cs
  src/Common/Authorization/Enums.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

website calendar view wip
  src/website/Pages/GroupRides/Details.cshtml.cs
  src/website/Pages/GroupRides/Edit.cshtml.cs
  src/website/Pages/Hello/Index.cshtml
  src/website/Pages/Hello/Index.cshtml.cs
  src/website/Pages/RideEvents/Details.cshtml
  src/website/Pages/RideEvents/Details.cshtml.cs
  src/website/Pages/RideEvents/Edit.cshtml.cs
  src/website/Pages/RideEvents/Index.cshtml
  src/website/Pages/RideEvents/ListView.cshtml
  src/website/Pages/RideEvents/ListView.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/CoordinatorEntryDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/GroupRideDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventDetails.cshtml
  src/website/Pages/Shared/_Layout.cshtml
  src/website/Startup.cs
  src/website/wwwroot/css/calendar-gc.min.css
  src/website/wwwroot/js/calendar-gc.min.js
  src/website/wwwroot/js/site.js
Due: pipelines/build-deploy-website.yaml

property rename
  src/Common/Entities/RideEvent.cs
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
  src/website/Pages/RideEvents/Details.cshtml
  src/website/Pages/RideEvents/Details.cshtml.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

property rename
  src/API/Controllers/RideEventsController.cs
Due: pipelines/build-deploy-api.yaml

new view model
  src/API/Controllers/FrontEndController.cs
  src/Common/ViewModels/RideEventViewModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

route / controller name change
  src/API/Controllers/ViewModelsController.cs
Due: pipelines/build-deploy-api.yaml

rename the class too dummy
  src/API/Controllers/ViewModelsController.cs
Due: pipelines/build-deploy-api.yaml

dict dupe
  src/API/Controllers/ViewModelsController.cs
Due: pipelines/build-deploy-api.yaml

distinct by
  src/API/Controllers/ViewModelsController.cs
Due: pipelines/build-deploy-api.yaml

view model and css in progress
  src/website/Pages/BikeRoutes/Details.cshtml
  src/website/Pages/EventDetails.cshtml
  src/website/Pages/EventDetails.cshtml.cs
  src/website/Pages/GroupRides/Details.cshtml.cs
  src/website/Pages/Index.cshtml
  src/website/Pages/Index.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/BikeRouteDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/CoordinatorEntryDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEvent_GroupRide.cshtml
  src/website/wwwroot/css/site.css
Due: pipelines/build-deploy-website.yaml

formatting updates
  src/website/Pages/GroupRides/Edit.cshtml.cs
  src/website/Pages/Index.cshtml
  src/website/Pages/RideEvents/Edit.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/BikeRouteDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueSheetTableRow.cshtml
  src/website/Pages/Shared/_Layout.cshtml
  src/website/website.csproj
  src/website/wwwroot/css/site.css
  src/website/wwwroot/js/site.js
Due: pipelines/build-deploy-website.yaml

version bump
  src/API/API.csproj
Due: pipelines/build-deploy-api.yaml

break out users to new service
  src/API/Controllers/CoordinatorsController.cs
  src/API/Controllers/UsersController.cs
  src/API/Startup.cs
  src/Common/Entities/Coordinator.cs
  src/Common/Services/EntityProvider/IEntityProvider.cs
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
  src/Common/Services/UserProvider/GraphAPIUserProvider.cs
  src/Common/Services/UserProvider/IUserProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add more claims and policies
  src/API/Startup.cs
  src/Common/Authorization/Enums.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

more user endpoints
  src/API/Controllers/UsersController.cs
  src/Common/Exceptions/UserNotFoundException.cs
  src/Common/Services/UserProvider/GraphAPIUserProvider.cs
  src/Common/Services/UserProvider/IUserProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

fix routes
  src/API/Controllers/UsersController.cs
Due: pipelines/build-deploy-api.yaml

no really, fix ALL the routes
  src/API/Controllers/UsersController.cs
Due: pipelines/build-deploy-api.yaml

time for more coffee
  src/API/Controllers/UsersController.cs
Due: pipelines/build-deploy-api.yaml

testing policies
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

dont forget the policy
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

time for break?
  src/Common/Authorization/Enums.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add comment
  src/API/Controllers/UsersController.cs
Due: pipelines/build-deploy-api.yaml

policy rework
  src/API/Controllers/BikeRoutesController.cs
  src/API/Controllers/UsersController.cs
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

finished user controller?
  src/API/Controllers/UsersController.cs
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

get all users
  src/Common/Exceptions/UserNotFoundException.cs
  src/Common/Services/UserProvider/GraphAPIUserProvider.cs
  src/Common/Services/UserProvider/IUserProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

secure crud operations
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

how do websites even work
  src/Common/Entities/CoordinatorEntry.cs
  src/Common/Entities/GroupRide.cs
  src/website/Pages/EventDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueTableView.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

slightly better? layout
  src/website/Pages/EventDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueTableView.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventViewModelDetails2.cshtml
Due: pipelines/build-deploy-website.yaml

Path conditions:
  pipelines/build-deploy-api.yaml: any of: pipelines/build-deploy-api.yaml, src/API, src/Common
  pipelines/build-deploy-website.yaml: any of: pipelines/build-deploy-website.yaml, src/website, src/Common
