Repository MattCost/ccc-coordinator-webapp: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

pipelines/build-deploy-api.yaml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/build-deploy-api.yaml
      - src/API
      - src/Common

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'
  workingDirectory: src/API

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: 'src/API'
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'azure-sc'
    appType: 'webAppLinux'
    appName: 'app-ccc-webapp-api-dev'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'

pipelines/build-deploy-website.yaml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/build-deploy-website.yaml
      - src/website
      - src/Common

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'
  workingDirectory: src/API

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: 'src/website'
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'azure-sc'
    appType: 'webAppLinux'
    appName: 'app-ccc-webapp-website-dev'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'

forgot the options
  src/website/Pages/Hello/Index.cshtml
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

debug logs
  src/website/Pages/Shared/_Layout.cshtml
  src/website/Startup.cs
  src/website/appsettings.json
Due: pipelines/build-deploy-website.yaml

how does app service logging work
  src/website/Pages/Hello/Index.cshtml.cs
  src/website/Pages/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

the method name matters?
  src/website/Pages/Hello/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

json result
  src/API/Controllers/HelloWorldController.cs
  src/website/Models/PageModelBase.cs
  src/website/Pages/Hello/Index.cshtml
  src/website/Pages/Hello/Index.cshtml.cs
  src/website/Properties/launchSettings.json
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

fix api url path
  infrastructure/main.tf
  src/website/Pages/Hello/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

use Areas
  src/website/Areas/Hello/Pages/Index.cshtml
  src/website/Areas/Hello/Pages/Index.cshtml.cs
  src/website/Pages/_ViewImports.cshtml
Due: pipelines/build-deploy-website.yaml

first pass at table storage provider
  src/Common/Common.csproj
  src/Common/Exceptions/EntityNotFoundException.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
  src/Common/Services/SecretsManager/EnvVarSecretsManager.cs
  src/Common/Services/SecretsManager/ISecretsManager.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

entity controllers
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
Due: pipelines/build-deploy-api.yaml

adding table, more organization to files
  infrastructure/app-service.tf
  infrastructure/main.tf
  infrastructure/readme.md
  infrastructure/storage.tf
Due: none

try swagger in cloud
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

typos in tasks
  .vscode/launch.json
  .vscode/tasks.json
Due: none

add auth to swagger
  src/API/AddAzureB2CProtectedSwagger.cs
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

getting swagger auth working
  infrastructure/app-reg.tf
  infrastructure/app-service.tf
Due: none

remove?
  src/API/appsettings.Development.json
Due: pipelines/build-deploy-api.yaml

remove
  src/website/appsettings.Development.json
Due: pipelines/build-deploy-website.yaml

remove local dev settings
  .gitignore
Due: none

test in cloud?
  src/API/AddAzureB2CProtectedSwagger.cs
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

code + token
  src/API/AddAzureB2CProtectedSwagger.cs
Due: pipelines/build-deploy-api.yaml

implicit is the secret
  src/API/AddAzureB2CProtectedSwagger.cs
Due: pipelines/build-deploy-api.yaml

getting swagger working
  src/API/AddAzureB2CProtectedSwagger.cs
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

adding settings to app
  infrastructure/app-service.tf
  infrastructure/readme.md
Due: none

settings change
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

adding soft delete
  src/API/Controllers/BikeRoutesController.cs
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
  src/Common/Services/EntityProvider/IEntityProvider.cs
  src/Common/Services/EntityProvider/MemoryEntityProvider.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

adding errors to page model base
  src/website/Models/PageModelBase.cs
Due: pipelines/build-deploy-website.yaml

display errors
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-website.yaml

all pages use same base model
  src/website/Pages/Error.cshtml.cs
  src/website/Pages/Index.cshtml.cs
  src/website/Pages/Privacy.cshtml.cs
Due: pipelines/build-deploy-website.yaml

adding 1st entity to website
  src/website/Areas/BikeRoutes/Pages/Index.cshtml
  src/website/Areas/BikeRoutes/Pages/Index.cshtml.cs
  src/website/Areas/Shared/DisplayTemplates/BikeRoutes/Overview.cshtml
  src/website/website.csproj
Due: pipelines/build-deploy-website.yaml

dict scope didn't work in cloud
  infrastructure/app-service.tf
Due: none

losing my mind
  src/website/Areas/BikeRoutes/Pages/Index.cshtml.cs
  src/website/Pages/BikeRoutes/Index.cshtml
  src/website/Pages/BikeRoutes/Index.cshtml.cs
  src/website/Pages/Hello/Index.cshtml
  src/website/Pages/Hello/Index.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/BikeRoutes/Overview.cshtml
  src/website/Pages/Shared/_Layout.cshtml
  src/website/Startup.cs
  src/website/website.csproj
Due: pipelines/build-deploy-website.yaml

add comment
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

test
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

It's 1 api call, how long could it take? 10 minutes
  src/website/RejectStaleSessionCookie.cs
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

wip
  infrastructure/app-service.tf
Due: none

cleanup
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

remove debug code
  src/website/Pages/BikeRoutes/Index.cshtml.cs
Due: pipelines/build-deploy-website.yaml

use correct setting
  infrastructure/app-service.tf
Due: none

ffs
  infrastructure/app-service.tf
Due: none

big brain time
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

more testing
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml
