Repository MattCost/ccc-coordinator-webapp: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

pipelines/build-deploy-api.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/API
  - task: AzureWebApp@1
    inputs:
  ...

pipelines/build-deploy-website.yaml:
  steps:
  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)
    workingDirectory: src/API
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/website
  - task: AzureWebApp@1
    inputs:
  ...

final answer. app service setting doesn't like complex types
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

adding update method
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

add cue operations
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

create is a system defined id
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

add create model
  src/Common/Entities/BikeRoute.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

property rename
  src/Common/Entities/CueEntry.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

scope cleanup for app service settings
  src/website/Startup.cs
Due: pipelines/build-deploy-website.yaml

new api models and safe updates
  src/API/Controllers/BikeRoutesController.cs
  src/Common/Entities/BikeRouteCreateModel.cs
  src/Common/Entities/BikeRouteModel.cs
  src/Common/Entities/BikeRouteUpdateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

i love log
  src/API/Controllers/BikeRoutesController.cs
  src/API/appsettings.json
Due: pipelines/build-deploy-api.yaml

more logs
  src/API/Controllers/BikeRoutesController.cs
  src/API/appsettings.json
Due: pipelines/build-deploy-api.yaml

fix if
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

did i make this too complicated?
  src/API/Controllers/BikeRoutesController.cs
Due: pipelines/build-deploy-api.yaml

log settings
  src/API/appsettings.json
Due: pipelines/build-deploy-api.yaml

add some create models
  src/Common/Entities/GroupRideCreateModel.cs
  src/Common/Entities/RideEventCreateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

make model more generic
  src/Common/Entities/GroupRide.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

1 more update model
  src/Common/Entities/RideEventUpdateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

controller updates
  src/API/Controllers/BikeRoutesController.cs
  src/API/Controllers/EntityProviderBaseController.cs
  src/API/Controllers/GroupRidesController.cs
  src/API/Controllers/RideEventsController.cs
Due: pipelines/build-deploy-api.yaml

add custom constraint
  src/API/Controllers/GroupRidesController.cs
  src/API/Routing/CoordinatorRoleConstraint.cs
Due: pipelines/build-deploy-api.yaml

missed this on the last commit :(
  src/API/Startup.cs
Due: pipelines/build-deploy-api.yaml

add remove coordinator signup
  src/API/Controllers/EntityProviderBaseController.cs
  src/API/Controllers/GroupRidesController.cs
Due: pipelines/build-deploy-api.yaml

formatting
  src/Common/Entities/GroupRide.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

use DateTimeOffset
  src/Common/Entities/RideEvent.cs
  src/Common/Entities/RideEventCreateModel.cs
  src/Common/Entities/RideEventUpdateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

add datetimeOffset
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

create model uses dateTime
  src/Common/Entities/RideEventCreateModel.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

crud in progress
  src/website/Models/EnumHelper.cs
  src/website/Pages/BikeRoutes/Create.cshtml
  src/website/Pages/BikeRoutes/Create.cshtml.cs
  src/website/Pages/BikeRoutes/Details.cshtml
  src/website/Pages/BikeRoutes/Details.cshtml.cs
  src/website/Pages/BikeRoutes/Edit.cshtml
  src/website/Pages/BikeRoutes/Edit.cshtml.cs
  src/website/Pages/GroupRides/Create.cshtml
  src/website/Pages/GroupRides/Create.cshtml.cs
  src/website/Pages/GroupRides/Index.cshtml
  src/website/Pages/GroupRides/Index.cshtml.cs
  src/website/Pages/RideEvents/Create.cshtml
  src/website/Pages/RideEvents/Create.cshtml.cs
  src/website/Pages/RideEvents/Edit.cshtml
  src/website/Pages/RideEvents/Edit.cshtml.cs
  src/website/Pages/RideEvents/Index.cshtml
  src/website/Pages/RideEvents/Index.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/BikeRouteDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/BikeRouteOverview.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueSheetRow.cshtml
  src/website/Pages/Shared/DisplayTemplates/CueSheetRowForEdit.cshtml
  src/website/Pages/Shared/DisplayTemplates/GroupRideOverview.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventOverview.cshtml
  src/website/Pages/Shared/EditorTemplates/BikeRoute.cshtml
  src/website/Pages/Shared/EditorTemplates/BikeRouteCreateModel.cshtml
  src/website/Pages/Shared/EditorTemplates/GroupRideCreateModel.cshtml
  src/website/Pages/Shared/EditorTemplates/RideEventCreateModel.cshtml
  src/website/Pages/Shared/_Layout.cshtml
Due: pipelines/build-deploy-website.yaml

add in entity relationship
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

more crud in progress
  src/website/Pages/GroupRides/Details.cshtml
  src/website/Pages/GroupRides/Details.cshtml.cs
  src/website/Pages/GroupRides/Edit.cshtml
  src/website/Pages/GroupRides/Edit.cshtml.cs
  src/website/Pages/RideEvents/Details.cshtml
  src/website/Pages/RideEvents/Details.cshtml.cs
  src/website/Pages/Shared/DisplayTemplates/GroupRideDetails.cshtml
  src/website/Pages/Shared/DisplayTemplates/RideEventDetails.cshtml
  src/website/Pages/Shared/EditorTemplates/GroupRide.cshtml
  src/website/Pages/Shared/EditorTemplates/RideEvent.cshtml
Due: pipelines/build-deploy-website.yaml

more crude with dropdowns
  src/website/Pages/GroupRides/Create.cshtml
  src/website/Pages/GroupRides/Create.cshtml.cs
  src/website/Pages/Shared/EditorTemplates/GroupRideCreateModel.cshtml
Due: pipelines/build-deploy-website.yaml

adding some delete interlocks
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

minor logic flow update
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

adding debug logs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

more debug logs
  src/API/Controllers/RideEventsController.cs
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

query using proper guid syntax
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

return error message
  src/API/Controllers/EntityProviderBaseController.cs
Due: pipelines/build-deploy-api.yaml

populate coordinator entry on creation
  src/API/Controllers/GroupRidesController.cs
Due: pipelines/build-deploy-api.yaml

fix api
  src/Common/Services/EntityProvider/TableStorageEntityProvider.cs
Due: pipelines/build-deploy-api.yaml, pipelines/build-deploy-website.yaml

formatting and add msgraph permission
  infrastructure/app-reg.tf
Due: none

add secret to api for msgraph calls
  infrastructure/app-service.tf
Due: none

cleanup
  src/API/Controllers/GroupRidesController.cs
Due: pipelines/build-deploy-api.yaml

Path conditions:
  pipelines/build-deploy-api.yaml: any of: pipelines/build-deploy-api.yaml, src/API, src/Common
  pipelines/build-deploy-website.yaml: any of: pipelines/build-deploy-website.yaml, src/website, src/Common
